<div id="hello">
<%= image_tag 'githaven_big.png', :alt => 'GitHaven', :id => 'big_logo' %>
<br />Git hosting wherever you need it.
</div>

<% if !@loggedinuser -%>
<div id="signup">
<%= button_to t('user.signup'), 'signup', :method => 'get' %>
</div>
<% end -%>
<%= render(:partial => 'repositories/index') -%>
