<%= render(:partial => 'repositorytopbar.html.erb') %>
<div id="tags">
<% if @repo %>
Branches:<br />
<% for branch in @repo.branches() %>
<%= link_to h(branch.name) %><br />
<% end %>
Tags:<br />
<% for tag in @repo.tags() %>
<%= link_to h(tag.name) %><br />
<% end %>
<% end %>
</div>

<% if !@repo %>
<% if @repository.user == @loggedinuser %>
<%= render(:partial => 'emptyrepo.html.erb') %>
<% else %>
Nothing Here yet.
<% end %>
<% end %>
