<%= render(:partial => 'repositorytop.html.erb') %>
<%= render(:partial => 'commitlist.html.erb') %>

<% if @repo %>
<div id="tree">
<% for f in @repo.commits.last.tree.contents %>
<%=    h f.name %><br/>
<%  end %>
</div>
<% end %>
