<p>
  <b>Repository:</b>
  <%=h @permission.repository_id %>
</p>

<p>
  <b>User:</b>
  <%=h @permission.user_id %>
</p>


<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
