body {
    margin: 0;
    background-color: #fff;
    color: #333;
}

#signup {
    padding-top: 3em;
    text-align: center;
}

#hello {
    text-align: center;
}

#logo {
  border: 0px;
}

a { color: rgb(67, 161, 212); }


img#big_logo {
  padding-top: 1em;
  padding-bottom: .5em;
}

body, p, ol, ul, td {
}

pre {
  background-color: #eee;
  padding: 10px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#account {
    float: right;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#repositories {
    width: 70%;
    margin-right:auto;margin-left:auto;width:760px;
    border-top: 1px solid black;
    padding-top: .5em;
    margin-top: 1em;
    text-align: left;
}

#repositories table {
    margin-top: .25em;
    border: 1px solid #f8f8f8;
}

#repository {
  padding: .5em;
  background-color: #ccffcc;
  border: 1px solid #33ff99;
  margin-top: 1em;
  margin-bottom: 0;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
}

#repository_actions {
    width: 100%;
    margin-bottom: 1em;
}

#repository_actions ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #f8f8f8
}

#repository_actions li {
    float: left;
    border: 1px solid #33ff99;
    margin: 0;
    padding: .3em;
    padding-left: .5em;
    padding-right: .5em;
    margin-top: -1px;
    margin-right: 1px;
    background-color: #ccffcc;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

#repository_actions li#repository_admin {
    float: right;
    margin-right: 0px;
}

#repository_actions br {
    clear: left;
}

#tags_branches {
    margin-top: 1em;
}

#tags ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#tags li {
    padding-left: 1.3em;
}

#tags a {
    text-decoration: none;
}

#tags_tags {
    margin-top: 1em;
}

#tags li#current {
    font-weight: bold;
    padding: 0;
}

.download_archive a {
    text-decoration: none;
    font-weight: bold;
}


.date {
    margin: 1em 0em .25em 1em;
}
.commit {
  padding: .75em;
  background-color: #FFFFCC;
  border: 1px solid #FFFF66;
  margin-bottom: -1px;
}

.commit_message {
  padding-top: .5em;
  font-family: Courier New;
}

.commit_message a {
    text-decoration: none;
}

.tree_commit_message {
    text-decoration: none;
    font-family: Courier New;
}

.commit_author {
    text-decoration: none;
}

#tree_path {
    margin-top: 1em;
    margin-bottom: .25em;
}

#tree {
  font-size: small;
  background: #f8f8f8;
  margin-bottom: 1em;
  width: 100%;
  border: 1px solid #e8e8e8;
  border-spacing: 0;
  padding: 0;
}

#tree tr {
  height: 1.8em;
}

#tree td {
   padding: 0;
   padding-left: 2px;
}

.contents-line-even {
    background: white;
}
.contents-line-odd {
    background: #e8e8e8;
}

#header {
  font-family: Arial;
  background-color: #f8f8f8;
  border-bottom: 1px solid black;
}

#main {
    margin: 1em;
    padding-bottom: 1.4em;

    margin-right:auto;
    margin-left:auto;
    width: 760px;
}

#footer, #header {
  font-size: small;
  padding: .25em .5em;
}

#footer {
  clear: both;
  bottom: 0px;
  width: auto;
  text-align: right;
  border-top: 1px solid black;
  font-size: 8pt;
}

#main .list-line-even {
#background:   #e0f8f8;
}

#main .list-line-odd {
#background:   #f8b0f8;
}

#flash {
    color: red;
}
#data {
    margin-bottom: 1em;
    padding: .5em;
    border: 1px solid gray;
    margin-top: 0;
    background: #f8f8f8;
}

#branches, #tags {
    float: right;
    font-size: 12px;
    padding: .5em;
    border: 1px solid gray;
    background: #f8f8f8;
    width: 11%;
}

#repopage {
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 87%;
    margin: 0;
    padding: 0;
}

#delete_button {
    float: right;
}

