<h1>Listing sshkeys</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for sshkey in @sshkeys %>
  <tr>
    <td><%= h sshkey.name %></td>
    <td><%= link_to '(Edit)', edit_sshkey_path(sshkey) %></td>
    <td><%= link_to '(Destroy)', sshkey, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />

<%= button_to "Add Key", new_sshkey_path %>
