<h2>SSH keys:</h2>

<% if !@sshkeys.empty? %>
<table>
  <tr>
    <th>Name</th>
  </tr>

<% for sshkey in @sshkeys %>
  <tr>
    <td><%= h sshkey.name %></td>
    <td><%= link_to '(Edit)', edit_sshkey_path(sshkey) %></td>
    <td><%= link_to '(Delete)', sshkey, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />
<%end %>
<%= button_to 'Add New SSH Key', new_sshkey_path, :method => :get %>
